.product-card {
    max-width: 285px;
    width: 100%;
    padding: 10px;
    height: 410px;
    border-radius: 10px;
    background: $primary-color;
    @include flex(flex-start, stretch, $flex-direction: column);
    @include transition;
    &__img {
        height: 160px;
        border-radius: 10px;
        margin-bottom: 20px;
        overflow: hidden;
        background: gray;
    }
    &__title {
        color: $contrast-primary-color;
        margin-bottom: 15px;
    }
    &__description,
    &__price {
        color: $contrast-primary-color;
        margin-bottom: 15px;
    }
    &__description {
        font-weight: $subtitle-weight;
        flex: 1 1 auto;
    }
    &__controls {
        @include flex(space-between);
    }
    &:hover {
        background: $primary-color_light;
    }
}
