.button {
    padding: 5px 20px;
    border-radius: 25px;
    background: $primary-color;
    color: $contrast-primary-color;
    fill: $contrast-primary-color;
    @include transition;
    &:deep(svg) {
        width: 25px;
        height: 25px;
    }
    &:hover {
        background: $primary-color_light;
    }
    &_dark {
        background: $secondary-color;
        color: $contrast-primary-color;
        fill: $contrast-primary-color;
        &:hover {
            background: $secondary-color_dark;
        }
    }
}
