// fonts family
$main-font-family: "Roboto", sans-serif;

// fonts sizes

// font weight
$title-weight: 700;

$subtitle-weight: 400;

$standart-font-weight: 300;
// colors

$primary-color: #ddf0a7;

$secondary-color: #162e3c;
$secondary-color_light: #1f3847;
