@import "@scss/_nullstyle.scss";

.explore {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ddf0a7;
  height: 48px;
  cursor: pointer;
}

.explore-container { 
    margin: 0 auto;
  p{
    font-family: 'Space Grotesk';
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #162E3C;
  } 
}
.explore-container:hover {
  a{
    color: #5998c0;
    text-decoration: underline;
  } 
}
.explore-container__close:hover *
{ 
  fill: #5998c0;
}